In [41]:
import pandas as pd
import glob

In [ ]:
model_seq_length = 196608
out_dir = utils.make_dir('../../results/XSTREME/')
seq_parser = utils.SequenceParser('../../data/GRCh38.primary_assembly.genome.fa')
for cre_type in ['Enhancer', 'Silencer']:
    sufficient_cres = pd.read_csv('../../results/summary_csvs/enformer/sufficient_CREs.csv')
    sufficient_cres = sufficient_cres[sufficient_cres['tile class']==cre_type
    for cell, df in sufficient_cres.groupby('cell_line'):
    with open(f'{out_dir}/{cell}_{cre_type.lower()}s.fa', 'w') as f:
        for i, row in df.iterrows():
            chrom, tss_site, strand = row['seq_id'].split('_')[1:]
            wt_seq = seq_parser.extract_seq_centered(chrom, int(tss_site), strand, model.seq_length, False)  # get seq
            wt_cre = wt_seq[row['tile_start']: row['tile_end']]
            f.write(f">{row['seq_id']}_{row['tile_start']}_{row['tile_end']}\n")
            f.write(wt_cre)
            f.write('\n')

In [ ]:
#!RepeatMasker --species human -dir ../results/repeatmasker ../results/XSTREME/GM12878_enhancers.fa

In [77]:

merged_dfs = []
for cell_line in ['K562', 'GM12878', 'PC-3']:
    dfs = []
    for cre_type in ['enhancers', 'silencers']:
        f = f"../results/repeatmasker/{cell_line}_{cre_type}.fa.tbl"
        file = open(f, "r")
        df_lines = []
        while True:
            content=file.readline()
            if 'SINEs' in content or 'LINEs' in content or 'LTR' in content or 'DNA elements' in content:
                percentage = content.split()[-2]
                
                df_lines.append([content.split()[0], percentage])
                
            if not content:
                break
        file.close()
    
        df = pd.DataFrame(df_lines)
        df['cell_line'] = cell_line
        df['cre'] = cre_type

        dfs.append(df)
    merged_dfs.append(dfs[0].merge(dfs[1], on=[0]))

In [78]:
merged_dfs[0]

        0    1_x cell_line_x      cre_x    1_y cell_line_y      cre_y
0  SINEs:  19.66        K562  enhancers  17.08        K562  silencers
1  LINEs:   9.73        K562  enhancers  16.57        K562  silencers
2     LTR   2.64        K562  enhancers   7.37        K562  silencers
3     DNA   3.24        K562  enhancers   3.15        K562  silencers

In [84]:
merged_dfs[1]['1_y']

0    10.69
1    15.64
2     4.49
3     3.89
Name: 1_y, dtype: object

In [86]:
merged_dfs[2]['1_y']

0    12.22
1    11.60
2     6.28
3     2.64
Name: 1_y, dtype: object